.block {
	height: 45vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'block1 block2 block3';
}

@media screen and (max-width: 665px) {
	.block {
		height: 60vh;
		grid-template-columns: 1fr;
		grid-template-areas: 'block1' 'block2' 'block3'
	}
}

.block1 {
	grid-area: block1;
}

.subblock {
	height:90%;
	display: grid;
	grid-template-columns: 10% 40% 40% 10%;
	grid-template-rows: 25% 1fr 1fr 5%;
	grid-template-areas: 
	'. . . .' 
	'. subblock1 subblock1 .'
	'. subblock2 subblock3 .'
	'. . . .';
	
}

@media screen and (max-width:665px) {
	.subblock {
		grid-template-rows: 10% 1fr 1fr 1fr 1fr 10%;
		grid-template-areas: 
	'. . . .' 
	'. subblock1 subblock2 .'
	'. subblock1 subblock2 .'
	'. subblock3 subblock3 .'
	'. subblock3 subblock3 .'
	'. . . .';

	}
	.block1 {
		height: 120px;
	}
}

.subblock1 {
	grid-area: subblock1;
}

.subblock2 {
	grid-area: subblock2;
}

.subblock3 {
	grid-area: subblock3;
}




.block2 {
	grid-area: block2;
	display: grid;
	grid-template-rows: 40% 1fr;
	grid-template-areas: '. ' 'block2_holder ';
}

.block2_holder {
	grid-area: block2_holder;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'holder1 holder2 holder3'
}

@media screen and (max-width:665px){
	.block2_holder {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 'holder1 holder2 holder3';
		height: 18vh;
	}
	.block2 {
	grid-area: block2;
	display: grid;
	grid-template-rows: 25% 1fr;
	grid-template-areas: '.' 'block2_holder ';
}
}

.holder1 {
	grid-area: holder1;
}

.holder2 {
	grid-area: holder2;
	display: grid;
	grid-template-rows: 12% 1fr 7%;
	grid-template-areas: '.' 'subholder2' '.';
}

.subholder2 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 10% 1fr 7%;
	grid-template-areas: 'sh1 .' 'sh1 sh2' 'sh1 .';
	
}

@media screen and (max-width: 665px) {
	.subholder2 {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'sh1' 'sh2';
	}
	.block3 {
		background-color: purple;
	}
	.holder2 {
		grid-template-rows: 13% 1fr 5%;

	}
}

.sh1 {
	grid-area: sh1;
}

.sh2 {
	grid-area: sh2;
}

.holder3 {
	grid-area: holder3;
}


.block3 {
	grid-area: block3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20% 1fr;
	grid-template-areas: '.' 'b3holder';
}

.b3holder {
	grid-area: b3holder;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 10% 10% 10% 40% 10% 10% 10%;
	grid-template-areas: 
	'. . b3_3'
	'. b3_2 b3_3'
	'b3_1 b3_2 b3_3'
	'b3_1 b3_2 b3_3'
	'b3_1 b3_2 .'
	'b3_1 b3_2 .'
	'b3_1 . .';
}

@media screen and (max-width:665px){
	.b3holder{
		grid-template-columns: 10% 1fr 10%;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: '. b3_3 .' '. b3_2 .' '. b3_1 .';
	}
	.block3 {
	grid-template-rows: 15% 1fr;
}
}


.b3_1 {
	grid-area: b3_1;
	color: black;
}

.b3_2 {
	grid-area: b3_2;
}

.b3_3 {
	grid-area: b3_3;
	display: grid;
	grid-template-rows: 30% 1fr;
	grid-template-areas: '.' 'text'
}

.text {
	grid-area: text;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 20px 10% 20px;
	grid-template-areas: '. . text1'
	'. . .'
	'text2 . . ';
}

@media screen and (max-width:665px){
	.text {
		grid-template-areas: 'text1 . text2'
	}
}

.text1 {
	grid-area: text1;
}

.text2 {
	grid-area: text2;
}
