
.pink {
	background-color: pink;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}

.yellow {
	background-color: orange;
	
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

